# dependencies
node_modules/

# environment variables
.env

# logs
npm-debug.log*

# build files
build/
dist/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# React build
client/build/

# server logs
server/logs